<label>
    Text filter:
</label>
<input type="text" class="form-control" [(ngModel)]="filterText" name="filterText">

Show only the emails with body: <input type="checkbox" [(ngModel)]="withBody" name="withBody">

<div *ngIf="emailsList?.length==0">
    <h6>The list of emails is empty!</h6>
</div>

<ul class="list-group my-3">
    <li *ngFor="let email of emailsList | filter:filterText | withBodyFilter:withBody" class="list-group-item">
        <!-- <div> {{email.id }} </div> -->
        <div> {{email.from}} </div>
        <div> {{email.to}} </div>
        <div> {{email.subject}} </div>
        <!-- <div> {{email.body}} </div> -->
        <div class="text-right">
            <button (click)="redirect(email.id)" [routerLink]="['/email/' + email.id]" style="margin-right:5px;" class="btn btn-primary btn-sm mr-1">View details</button>
            <button (click)="remove(email.id)" class="btn btn-primary btn-sm mr-1">Remove</button>
        </div>
    </li>
</ul>

<button (click)="add()" class="btn btn-primary btn-sm mr-1">Create new email</button>